.FrontPage {
  width: 100%;
  height: 500px;
  background-image: url(https://res.cloudinary.com/gabycoderhouse/image/upload/v1636804063/proyectoEstudio/assets/tinified/clientesFelices_qxrtrr.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.imagenPortada{
    width: 40%; 
    height: 450px;
}

@media screen and (max-width: 425px) {
  .imagenPortada {
    max-width: 420px;
  }
}
