.FrontPage{
    width: auto;
    height: 500px;
    background-image: url(https://res.cloudinary.com/gabycoderhouse/image/upload/v1636804063/proyectoEstudio/assets/tinified/clientesFelices_qxrtrr.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}