.Diferencia{
    color: aliceblue;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0px 20px 0px 20px;
    font-size: 18px;
}

@media screen and (max-width: 425px) {
    .Diferencia{
        grid-template-columns: 1fr;
    }
  }
